:root {
  --center: -15%;
  --centerSides: 10%;
  --sideTop: 20%;
  --sideChairs: -35%;
  --tableCenter: 39%;

  --tableWidth: 325px;
  --tableHeight: 125px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  min-width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.chairs {
  /* background: red; */
  width: 100px;
  height: 100px;
  position: absolute;
}

.left-side {
  /* background: white; */
  top: var(--sideTop);
  left: var(--sideChairs);
}

.right-side {
  /* background: white; */
  top: var(--sideTop);
  right: var(--sideChairs);
}

.center {
  top: var(--center);
}

.left {
  left: var(--centerSides);
}

.right {
  right: var(--centerSides);
}

.tables {
  /* background: white; */
  width: calc(var(--tableWidth) * 4);
  height: calc(var(--tableHeight) * 1.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.holder {
  /* background: black; */
  width: var(--tableWidth);
  height: var(--tableHeight);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: var(--tableCenter);
}
