:root {
  --center: 5%;
  --centerSides: 20%;
  --sideTop: 25%;
  --sideChairs: -2.5%;
  --tableCenter: 5%;

  --tableWidth: 1008px;
  --tableHeight: 641px;

  --holderWidth: 50vw;
  --holderHeight: 19vh;

  --sideIndex: 1;
  --centerIndex: 0;

  --backgroundWidth: 100vw;
  --backgroundHeight: 100vh;

  --chairSize: 275px;

  --holderOffset: 20%;
  --holderGrounding: 20%;

  --holderKitchenGround: 15%;
}

.backgrounds {
  position: absolute;
}

.backgrounds img {
  width: var(--backgroundWidth);
  height: var(--backgroundHeight);
}

.chairs {
  position: absolute;
}

.chairs img {
  width: var(--chairSize);
  height: var(--chairSize);
}

.left-side {
  top: var(--sideTop);
  left: var(--sideChairs);
  z-index: var(--sideIndex);
}

.right-side {
  top: var(--sideTop);
  right: var(--sideChairs);
  z-index: var(--sideIndex);
}

.center {
  top: var(--center);
  z-index: var(--centerIndex);
}

.left {
  left: var(--centerSides);
}

.right {
  right: var(--centerSides);
}

.tables {
  max-width: var(--tableWidth);
  max-height: var(--tableHeight);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  top: var(--tableCenter);
}

.holder {
  width: var(--holderWidth);
  height: var(--holderHeight);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: var(--holderGrounding);
}

.holder-offset {
  right: var(--holderOffset);
}

.holder-kitchen {
  bottom: var(--holderKitchenGround);
}

@media screen and (max-width: 1920px) {
  :root {
    --center: -5%;
    --centerSides: 20%;
    --sideTop: 20%;
    --sideChairs: -5%;
    --tableCenter: -5%;

    --tableWidth: 1250px;
    --tableHeight: 178px;

    --holderWidth: 700px;
    --holderHeight: 188px;

    --chairSize: 200px;
  }
}

@media screen and (max-width: 512px) {
  :root {
    --center: -5%;
    --centerSides: 20%;
    --sideTop: 20%;
    --sideChairs: -5%;
    --tableCenter: -5%;

    --tableWidth: 1250px;
    --tableHeight: 178px;

    --holderWidth: 350px;
    --holderHeight: 133px;

    --chairSize: 100px;
  }
}
